<div class="container__header-main">
    <div class="container__header-image">
      <img src="assets/vazYVBPLGeRRuebFBd7wmi.png" alt="Logo Clinica Thais Yamamoto">
    </div>
    <div class="sidebar-icon" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i> <!-- Exemplo de ícone de barra lateral usando FontAwesome -->
    </div>
    <div class="container__header-list">
      <div class="container__ulLi">
      <ul>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#agendar">Agendar</a></li>
        <li><a href="#especialidades">Especialidades</a></li>
        <li><a href="#localizacao">Localização</a></li>
      </ul>
      </div>
      <div class="container__Icons">
        <ul>
          <li><a href="https://www.instagram.com/drathaisyamamoto"><i class="fa-brands fa-instagram instagram"></i></a></li>
          <li><a href="https://api.whatsapp.com/send/?phone=%2B5511914628613&text&type=phone_number&app_absent=0"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
          <li><a href="#"><img src="assets/atendenteBlack.png" title="Atendimento ao cliente"></a></li>
      </ul>
    </div>
    </div>
  </div>

  <div class="container__header-list-mobile" id="header-mobile" *ngIf="headerService.menuOpen$ | async">
   <div class="container__ulLi-mobile">
    <ul> 
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#agendar">Agendar</a></li>
      <li><a href="#especialidades">Especialidades</a></li>
      <li><a href="#localizacao">Localização</a></li>
    </ul>
</div>
