<hr style="margin-top:30vh; margin-bottom: 20vh;">
<section class="sobre-section">
    <div id="sobre" class="sobre-text">
        <h1>Dra. Thais Yamamoto</h1>
        <p>A Dra. Thais Yamamoto é uma profissional altamente qualificada na área da odontologia, com vasta experiência em tratamentos de saúde bucal. Sua dedicação ao bem-estar dos pacientes e sua abordagem atenciosa tornam-na uma escolha confiável para cuidar do seu sorriso.</p>
        <p>Com um compromisso contínuo com a educação e a inovação, a Dra. Yamamoto está sempre atualizada com as mais recentes tecnologias e práticas odontológicas. Seu objetivo é proporcionar um atendimento de alta qualidade em um ambiente confortável e acolhedor.</p>
    </div>
    <div class="sobre-img">
        <img src="assets/dentist/sobre.jpeg" alt="Foto da Dra. Thais Yamamoto">
    </div>
</section>
<hr style="margin-top:30vh; margin-bottom: 20vh;">