<div class="container__bodyVideo">
 <video autoplay muted loop>
            <source src="assets/videoplayback.mp4" type="video/mp4">
</video>
<div class="container__ImgBodyVideo">
   <h1 id="agendar">Descubra o Sorriso dos Seus Sonhos</h1>
   <h2>Com a Dra. Thais Yamamoto - Especialista em Odontologia Estética</h2>
   <p>Transforme o seu sorriso e recupere a confiança com os tratamentos inovadores e personalizados oferecidos pela renomada dentista, Dra. Thais Yamamoto. Com anos de experiência e paixão pela odontologia estética, estamos prontos para criar um sorriso deslumbrante que combina perfeitamente com você.</p>
   <app-button-component></app-button-component>
</div>
</div>